@import "../index.scss";
.main-navbar {
  background-color: var(--main-blue) !important;
  .mnav-link {
    color: #fff !important;
    font-size: 1.3rem;
  }
  .mnav-link:hover {
    color: var(--main-gold) !important;
  }
  .mnav-link.active {
    color: var(--main-gold) !important;
  }
  .btn-github {
    background-color: var(--main-gold);
    color: #fff;
    border-radius: 40px;
  }
}
.main-card {
  box-shadow: 0 16px 4px rgba($color: #000000, $alpha: 0.09);
  border-radius: 20px;
  transition: all 0.2s ease;
  overflow: hidden;
  .card-body{
    background-color: #fff;
    z-index: 99;
  }
  .mc-title {
    font-family: ib;
  }
  span.badge {
    font-size: 0.7rem;
  }
  .mc-date {
    background-color: transparent !important;
    color: #333;
  }
  img {
    transition: 0.2s ease-in-out;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .mc-read {
    border: 0;
  }
  .mc-read:hover {
    background-color: var(--main-gold) !important;
    color: #000000 !important;
  }
}

.main-card:hover .mc-img{
  transform: scale(1.25) rotate(2deg);
}