@font-face {
  font-family: "il";
  src: url("./assets/fonts/IBMPlexMono-Light.ttf");
}
@font-face {
  font-family: "ib";
  src: url("./assets/fonts/IBMPlexMono-Bold.ttf");
}
@font-face {
  font-family: "ir";
  src: url("./assets/fonts/IBMPlexMono-Regular.ttf");
}

* {
  font-family: ir;
}

:root {
  --main-gold: #ffc600;
  --main-blue: #072ac8;
}

.bgBlue{
    background-color: var(--main-blue) !important;
}
.bgGold{
    background-color: var(--main-gold) !important;
}
.bgBlue-text{
    color: var(--main-blue) !important;
}
.bgGold-text{
    color: var(--main-gold) !important;
}



.text-break-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #fff;
  margin-bottom: 30px;
}
